@font-face {
  font-family: 'source-sans-pro';
  src: url('/public/fonts/SourceSansPro-Regular.otf.woff2') format('woff');
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('/public/fonts/SourceSansPro-Bold.otf.woff2') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('/public/fonts/SourceSansPro-I.otf.woff2') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'mononoki-regular';
  src: url('/public/fonts/mononoki-Regular.woff2') format('woff');
}