<div class="container body">

  <h2>Table of Contents</h2>
  <ol class="toc">
    <li><a href="/books/web/00-01">Introduction</a>
    </li>
    <li><a href="/books/web/01-01">Go Basics</a>
    </li>
  </ol>
</div>
