<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-2/day-4">Week 2, Day 4</a>
</div>
<div class="body container">
  <h1>Week 2, Day 4</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/rXdz9s8L1tM?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/rXdz9s8L1tM?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 1</a></li>
    <li><a href="https://youtu.be/ENroNfVJH6s?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 2</a></li>
    <li><a href="https://youtu.be/upbfHGpYj88?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 3</a></li>
    <li><a href="https://youtu.be/YIIIleXrBnQ?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 4</a></li>
    <li><a href="https://youtu.be/fk313LVKEFY?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 5</a></li>
    <li><a href="https://youtu.be/XxFUgMDRyUI?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 6</a></li>
    <li><a href="https://youtu.be/uYHPfKqLSpM?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 7</a></li>
    <li><a href="https://youtu.be/uRcMO1fIkyQ?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 8</a></li>
    <li><a href="https://youtu.be/gkOTD41-n1k?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 9</a></li>
    <li><a href="https://youtu.be/Bvf7DBhR-Aw?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 10</a></li>
  </ol>
</div>
