<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-2/day-5">Week 2, Day 5</a>
</div>
<div class="body container">
  <h1>Week 2, Day 5</h1>

  <h2>Videos</h2>  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/j_mrKwhs1lo?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/j_mrKwhs1lo?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 1</a></li>
    <li><a href="https://youtu.be/41TRBcZHE64?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 2</a></li>
    <li><a href="https://youtu.be/QEuIE3ULDVA?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 3</a></li>
    <li><a href="https://youtu.be/wVax6VvU9F0?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 4</a></li>
    <li><a href="https://youtu.be/mojMb8jFxME?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 5</a></li>
    <li><a href="https://youtu.be/VZjvUfYwrDE?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 6</a></li>
  </ol>
</div>
