<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-2/day-2">Week 2, Day 2</a>
</div>
<div class="body container">
  <h1>Week 2, Day 2</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JLJvIhdP9Ic?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/JLJvIhdP9Ic?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 1</a></li>
    <li><a href="https://youtu.be/-vbhFpJMQ5w?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 2</a></li>
    <li><a href="https://youtu.be/cNxfgXrHeAg?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 3</a></li>
    <li><a href="https://youtu.be/ezdIVOnmHiY?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 4</a></li>
    <li><a href="https://youtu.be/b8jByelvScM?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 5</a></li>
    <li><a href="https://youtu.be/lvRBzhJ47mw?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 6</a></li>
    <li><a href="https://youtu.be/wr_nwJ2cafo?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 7</a></li>
    <li><a href="https://youtu.be/rcmYmdNFzWo?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 8</a></li>
    <li><a href="https://youtu.be/ceS7F_RpVIU?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 9</a></li>
  </ol>
</div>
