<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-2/day-1">Week 2, Day 1</a>
</div>
<div class="body container">
  <h1>Week 2, Day 1</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bB4-vgO_Arw?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/bB4-vgO_Arw?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 1</a></li>
    <li><a href="https://youtu.be/-_qHvKFPuz4?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 2</a></li>
    <li><a href="https://youtu.be/F72xU5b3CFU?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 3</a></li>
    <li><a href="https://youtu.be/8GJ7DDscE4Q?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 4</a></li>
    <li><a href="https://youtu.be/9AngwSzJTbo?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 5</a></li>
    <li><a href="https://youtu.be/c_76JDCPry8?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 6</a></li>
    <li><a href="https://youtu.be/OtNJgykLMjk?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 7</a></li>
    <li><a href="https://youtu.be/Xo8nLAR29uA?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 8</a></li>
    <li><a href="https://youtu.be/SR9ggHOJsrg?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 9</a></li>
    <li><a href="https://youtu.be/aXA8I6Iu71A?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 10</a></li>
  </ol>
</div>
