<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
</div>
<div class="body container">
  <h1>Go Web Programming Bootcamp</h1>
  <p>
    The following videos were put together in July of 2015 for the
    <a href="http://summerwebbootcamp.com/sponsors.html">Summer Web Bootcamp</a>
    at Fresno City College. The videos cover the material in <i>An Introduction
    to Programming in Go</i> along with the basics of server-side web
    development with Go and Google App Engine.
  </p>
  <p>
    Thanks to the hard work of Todd McLeod (and others) these
    videos are available for free on Youtube. An outline is available at 
    <a href="http://is.gd/gobootcamp">is.gd/gobootcamp</a>. Source code is available on
    <a href="https://github.com/golang-book/bootcamp-examples">Github</a>.
    Questions, concerns or comments can be sent to
    <a href="mailto:caleb@doxsey.net">Caleb Doxsey</a>.
  </p>

  <h2>Video Links</h2>
  <ol class="toc">
    <li>Week 1
      <ol>
        <li>Day 1<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZdIkbpqxK8I?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li>Part 1 (no content)</li>
            <li><a href="https://youtu.be/nCrOuyt3fGE?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 2: Introduction, Machine Setup</a></li>
            <li><a href="https://youtu.be/gxM1XErjMrc?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 3: Background and Hello World</a></li>
            <li><a href="https://youtu.be/GwbZDJiRtQA?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 4: Go Commands and Hello World</a></li>
            <li><a href="https://youtu.be/eR9N0b_ytO4?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 5: Documentation, Variables</a></li>
            <li><a href="https://youtu.be/0gvKU2Y5jfw?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 6: Variables, Constants, Scope, Imports, Whitespace</a></li>
            <li><a href="https://youtu.be/F8nbz3SWWl8?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 7: Miles to Kilometers</a></li>
            <li><a href="https://youtu.be/gh1yOouqFs0?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 8: Q &amp; A</a></li>
            <li><a href="https://youtu.be/_iJBYeZXjPM?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 9: Types</a></li>
            <li><a href="https://youtu.be/0GIFineUxCM?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 10: Types, Numbers</a></li>
            <li><a href="https://youtu.be/79-PUF8RhJk?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 11: Types, Strings</a></li>
            <li><a href="https://youtu.be/JitLu0vi4b0?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 12: Control Structures</a></li>
            <li><a href="https://youtu.be/lnGwLFdXmxg?list=PLH0INGR--ZGRie4wR7woSW_Coo9nOMsaj">Part 13: A Deeper Look</a></li>
          </ol>
        </li>
        <li>Day 2<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sjwNNocro8w?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/sjwNNocro8w?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 1: Review (variables, types)</a></li>
            <li><a href="https://youtu.be/va0LKnPscNU?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 2: Review (types, control structures)</a></li>
            <li><a href="https://youtu.be/QK5sZgH7cfo?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 3: Review (control structures, continue/break)</a></li>
            <li><a href="https://youtu.be/fxgSAr4OZ1o?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 4: Strings Revisited</a></li>
            <li><a href="https://youtu.be/w6HE1ebQc4o?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 5: Miles to Kilometers</a></li>
            <li><a href="https://youtu.be/d-hVFQ2p2h0?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 6: Distance Converter</a></li>
            <li><a href="https://youtu.be/bwId7l7aPeg?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 7: Arrays, Slices, Maps</a></li>
            <li><a href="https://youtu.be/FAvhwGT3cv4?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 8: Maps</a></li>
            <li><a href="https://youtu.be/ZRugTVzZlqE?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 9: Slice and Map Problems</a></li>
            <li><a href="https://youtu.be/0VVTDcL26YQ?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 10: Functions</a></li>
            <li><a href="https://youtu.be/Z9CO-yNqi5k?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 11: Functions</a></li>
            <li><a href="https://youtu.be/rc-ZfLYJtOs?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 12: Functions</a></li>
            <li><a href="https://youtu.be/EyVTSpggjsg?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 13: Closure, Defer, Recursion</a></li>
            <li><a href="https://youtu.be/vz-FNdBqbzs?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 14: Recursion</a></li>
            <li><a href="https://youtu.be/qClL3L2p7jM?list=PLH0INGR--ZGT1QcMy1TC8_bs2-h4y2blW">Part 15: Recursion</a></li>
          </ol>
        </li>
        <li>Day 3<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/zUpx0uxj858?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/zUpx0uxj858?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 1</a></li>
            <li><a href="https://youtu.be/51Kfuz5psZY?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 2</a></li>
            <li><a href="https://youtu.be/y-NTgV9cd54?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 3</a></li>
            <li><a href="https://youtu.be/5IKdrRwp_GI?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 4</a></li>
            <li><a href="https://youtu.be/xIaSnyzP1uk?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 5</a></li>
            <li><a href="https://youtu.be/11HW6VFR7BU?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 6</a></li>
            <li><a href="https://youtu.be/FNy0psDeyZI?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 7</a></li>
            <li><a href="https://youtu.be/O6hG-3AHCwA?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 8</a></li>
            <li><a href="https://youtu.be/g8pdspCW3Ig?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 9</a></li>
            <li><a href="https://youtu.be/nlt3CBWrH00?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 10</a></li>
            <li><a href="https://youtu.be/dHH2NL8Lj-I?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 11</a></li>
            <li><a href="https://youtu.be/GcvIhBCi-2c?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 12</a></li>
            <li><a href="https://youtu.be/xlcuZD0bsz4?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 13</a></li>
          </ol>
        </li>
        <li>Day 4<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/HQm3roNUPtM?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/HQm3roNUPtM?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 1</a></li>
            <li><a href="https://youtu.be/5Yu9-vOsX7w?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 2</a></li>
            <li><a href="https://youtu.be/Wb5DKzg4OHQ?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 3</a></li>
            <li><a href="https://youtu.be/VzsFPUWY9t8?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 4</a></li>
            <li><a href="https://youtu.be/uxWRegg3dOo?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 5</a></li>
            <li><a href="https://youtu.be/EfFKosU5KB8?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 6</a></li>
            <li><a href="https://youtu.be/ptbe-2aBFJI?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 7</a></li>
            <li><a href="https://youtu.be/Zn6OO_9a6c8?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 8</a></li>
            <li><a href="https://youtu.be/nTTen5J4Szk?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 9</a></li>
            <li><a href="https://youtu.be/URnvgCwemfE?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 10</a></li>
            <li><a href="https://youtu.be/qs2uoziYNqU?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 11</a></li>
          </ol>
        </li>

        <li>Day 5<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jLJHyhCwYXQ?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/jLJHyhCwYXQ?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 2</a></li>
            <li><a href="https://youtu.be/Bmvke5YMmSk?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 3</a></li>
            <li><a href="https://youtu.be/i9lf_Pt_cSk?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 4</a></li>
            <li><a href="https://youtu.be/t5EJa08Gxyg?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 6</a></li>
            <li><a href="https://youtu.be/Pz0zUsl9JqA?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 7</a></li>
            <li><a href="https://youtu.be/z8wJ8Rw43zQ?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 8</a></li>
            <li><a href="https://youtu.be/62HlYpwXu-k?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 9</a></li>
            <li><a href="https://youtu.be/NyqEIn7nsw4?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 10</a></li>
            <li><a href="https://youtu.be/OxdV-YwknQo?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 11</a></li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Week 2
      <ol>
        <li>Day 1<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/bB4-vgO_Arw?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/bB4-vgO_Arw?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 1</a></li>
            <li><a href="https://youtu.be/-_qHvKFPuz4?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 2</a></li>
            <li><a href="https://youtu.be/F72xU5b3CFU?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 3</a></li>
            <li><a href="https://youtu.be/8GJ7DDscE4Q?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 4</a></li>
            <li><a href="https://youtu.be/9AngwSzJTbo?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 5</a></li>
            <li><a href="https://youtu.be/c_76JDCPry8?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 6</a></li>
            <li><a href="https://youtu.be/OtNJgykLMjk?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 7</a></li>
            <li><a href="https://youtu.be/Xo8nLAR29uA?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 8</a></li>
            <li><a href="https://youtu.be/SR9ggHOJsrg?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 9</a></li>
            <li><a href="https://youtu.be/aXA8I6Iu71A?list=PLH0INGR--ZGTIPP7cyIwwv0YwqIcdziQB">Part 10</a></li>
          </ol>
        </li>
        <li>Day 2<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JLJvIhdP9Ic?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/JLJvIhdP9Ic?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 1</a></li>
            <li><a href="https://youtu.be/-vbhFpJMQ5w?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 2</a></li>
            <li><a href="https://youtu.be/cNxfgXrHeAg?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 3</a></li>
            <li><a href="https://youtu.be/ezdIVOnmHiY?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 4</a></li>
            <li><a href="https://youtu.be/b8jByelvScM?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 5</a></li>
            <li><a href="https://youtu.be/lvRBzhJ47mw?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 6</a></li>
            <li><a href="https://youtu.be/wr_nwJ2cafo?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 7</a></li>
            <li><a href="https://youtu.be/rcmYmdNFzWo?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 8</a></li>
            <li><a href="https://youtu.be/ceS7F_RpVIU?list=PLH0INGR--ZGR6iZhzQVBm-o2PA_LXtLuE">Part 9</a></li>
          </ol>
        </li>
        <li>Day 3<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Qp2z7p5YmIU?list=PLH0INGR--ZGQRSB7rs63qEs7Rl4GsRc6d" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/Qp2z7p5YmIU?list=PLH0INGR--ZGQRSB7rs63qEs7Rl4GsRc6d">Part 1</a></li>
            <li><a href="https://youtu.be/W6-JUSm9oms?list=PLH0INGR--ZGQRSB7rs63qEs7Rl4GsRc6d">Part 2</a></li>
            <li><a href="https://youtu.be/oOTrOAW50uo?list=PLH0INGR--ZGQRSB7rs63qEs7Rl4GsRc6d">Part 3</a></li>
            <li><a href="https://youtu.be/Jwhxp-X2mGA?list=PLH0INGR--ZGQRSB7rs63qEs7Rl4GsRc6d">Part 4</a></li>
            <li><a href="https://youtu.be/eK_z0dTLniE?list=PLH0INGR--ZGQRSB7rs63qEs7Rl4GsRc6d">Part 5</a></li>
            <li><a href="https://youtu.be/VCuOf_5AXkg?list=PLH0INGR--ZGQRSB7rs63qEs7Rl4GsRc6d">Part 6</a></li>
            <li><a href="https://youtu.be/Ox-iJshGPyc?list=PLH0INGR--ZGQRSB7rs63qEs7Rl4GsRc6d">Part 7</a></li>
          </ol>
        </li>
        <li>Day 4<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/rXdz9s8L1tM?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/rXdz9s8L1tM?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 1</a></li>
            <li><a href="https://youtu.be/ENroNfVJH6s?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 2</a></li>
            <li><a href="https://youtu.be/upbfHGpYj88?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 3</a></li>
            <li><a href="https://youtu.be/YIIIleXrBnQ?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 4</a></li>
            <li><a href="https://youtu.be/fk313LVKEFY?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 5</a></li>
            <li><a href="https://youtu.be/XxFUgMDRyUI?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 6</a></li>
            <li><a href="https://youtu.be/uYHPfKqLSpM?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 7</a></li>
            <li><a href="https://youtu.be/uRcMO1fIkyQ?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 8</a></li>
            <li><a href="https://youtu.be/gkOTD41-n1k?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 9</a></li>
            <li><a href="https://youtu.be/Bvf7DBhR-Aw?list=PLH0INGR--ZGTW4aBiP7b2jzp3vA0PIbil">Part 10</a></li>
          </ol>
        </li>
        <li>Day 5<br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/j_mrKwhs1lo?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li><a href="https://youtu.be/j_mrKwhs1lo?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 1</a></li>
            <li><a href="https://youtu.be/41TRBcZHE64?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 2</a></li>
            <li><a href="https://youtu.be/QEuIE3ULDVA?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 3</a></li>
            <li><a href="https://youtu.be/wVax6VvU9F0?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 4</a></li>
            <li><a href="https://youtu.be/mojMb8jFxME?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 5</a></li>
            <li><a href="https://youtu.be/VZjvUfYwrDE?list=PLH0INGR--ZGRycQNKCnBaJE6XoiPNig1o">Part 6</a></li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>

  <p>
    Most of the presented material is basically correct, though sometimes I
    wasn't very clear or made broad, general assertions, which are debatable but
    merely stated with no tip of the hat to a contrary point of view. These
    videos are intended for beginner instruction not technical perfection.
  </p>
  <p>
    Unfortunately I also made a few outright mistakes. Errata:
    <ul>
      <li>I misinterpreted the meaning of Scanln, expecting it to read an
        entire line, when in fact it only reads to the first space.</li>
      <li>Permissions are used as octal, not hexadecimal. I showed one example
        using 0x777 when it should've been 0777.</li>
      <li>When discussing hashing I think I said "pairing bit", but meant
        "parity bit".</li>
      <li>At some point I said a for range loop on a string is byte by byte.
          Strings are stored as bytes, but the for range loop is actually rune
          by rune. It will interpret UTF8 for you.</li>
    </ul>
  </p>
</div>
