<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-1/day-3">Week 1, Day 3</a>
</div>
<div class="body container">
  <h1>Week 1, Day 3</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zUpx0uxj858?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/zUpx0uxj858?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 1: Review, Go &rarr; Javascript, Gravatar</a></li>
    <li><a href="https://youtu.be/51Kfuz5psZY?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 2: Stderr</a></li>
    <li><a href="https://youtu.be/y-NTgV9cd54?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 3: Gravatar Profiles cont'd, Go Tour, Word Count</a></li>
    <li><a href="https://youtu.be/5IKdrRwp_GI?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 4: Word Count solution</a></li>
    <li><a href="https://youtu.be/xIaSnyzP1uk?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 5: Count Clumps</a></li>
    <li><a href="https://youtu.be/11HW6VFR7BU?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 6</a></li>
    <li><a href="https://youtu.be/FNy0psDeyZI?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 7</a></li>
    <li><a href="https://youtu.be/O6hG-3AHCwA?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 8</a></li>
    <li><a href="https://youtu.be/g8pdspCW3Ig?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 9</a></li>
    <li><a href="https://youtu.be/nlt3CBWrH00?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 10</a></li>
    <li><a href="https://youtu.be/dHH2NL8Lj-I?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 11</a></li>
    <li><a href="https://youtu.be/GcvIhBCi-2c?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 12</a></li>
    <li><a href="https://youtu.be/xlcuZD0bsz4?list=PLH0INGR--ZGSW368L_e2g_qawRNGPWgR1">Part 13</a></li>
  </ol>

  <h2>Outline</h2>
  <ol>

  </ol>
</div>
