<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-1/day-5">Week 1, Day 5</a>
</div>
<div class="body container">
  <h1>Week 1, Day 5</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/jLJHyhCwYXQ?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/jLJHyhCwYXQ?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 2</a></li>
    <li><a href="https://youtu.be/Bmvke5YMmSk?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 3</a></li>
    <li><a href="https://youtu.be/i9lf_Pt_cSk?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 4</a></li>
    <li><a href="https://youtu.be/t5EJa08Gxyg?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 6</a></li>
    <li><a href="https://youtu.be/Pz0zUsl9JqA?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 7</a></li>
    <li><a href="https://youtu.be/z8wJ8Rw43zQ?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 8</a></li>
    <li><a href="https://youtu.be/62HlYpwXu-k?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 9</a></li>
    <li><a href="https://youtu.be/NyqEIn7nsw4?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 10</a></li>
    <li><a href="https://youtu.be/OxdV-YwknQo?list=PLH0INGR--ZGTOFc5CvKRMyFUwOEWvF2uq">Part 11</a></li>
  </ol>
</div>
