<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-1/day-4">Week 1, Day 4</a>
</div>
<div class="body container">
  <h1>Week 1, Day 4</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HQm3roNUPtM?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/HQm3roNUPtM?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 1</a></li>
    <li><a href="https://youtu.be/5Yu9-vOsX7w?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 2</a></li>
    <li><a href="https://youtu.be/Wb5DKzg4OHQ?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 3</a></li>
    <li><a href="https://youtu.be/VzsFPUWY9t8?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 4</a></li>
    <li><a href="https://youtu.be/uxWRegg3dOo?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 5</a></li>
    <li><a href="https://youtu.be/EfFKosU5KB8?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 6</a></li>
    <li><a href="https://youtu.be/ptbe-2aBFJI?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 7</a></li>
    <li><a href="https://youtu.be/Zn6OO_9a6c8?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 8</a></li>
    <li><a href="https://youtu.be/nTTen5J4Szk?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 9</a></li>
    <li><a href="https://youtu.be/URnvgCwemfE?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 10</a></li>
    <li><a href="https://youtu.be/qs2uoziYNqU?list=PLH0INGR--ZGSO9VleUTtimDj9blPrbYmM">Part 11</a></li>
  </ol>
</div>
