<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-4/day-2">Week 4, Day 2</a>
</div>
<div class="body container">
  <h1>Week 4, Day 2</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/A78K4YxbvtA?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy">Part 1: ChartJS</a></li>
    <li><a href="https://youtu.be/-4WfU47P1tk?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy">Part 2: Credit Cards</a></li>
    <li><a href="https://youtu.be/KT4ki_ClX2A?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy">Part 3: Credit Cards cont'd</a></li>
    <li><a href="https://youtu.be/oxogqJiFVYI?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy">Part 4: OAuth</a></li>
    <li><a href="https://youtu.be/UxFRHp5c7NA?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy">Part 5: Dropbox OAuth</a></li>
    <li><a href="https://youtu.be/-m9bpw-szqM?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy">Part 6: GitHub OAuth</a></li>
    <li><a href="https://youtu.be/mSG5QY0tURg?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy">Part 7: GitHub</a></li>
    <li><a href="https://youtu.be/DytFKPZWbDI?list=PLoHQKqvJrHgmUfHasVgqXAuXgd_CaKEpy">Part 8: Task Queue</a></li>
  </ol>
</div>
