<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-4/day-1">Week 4, Day 1</a>
</div>
<div class="body container">
  <h1>Week 4, Day 1</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/-viBeqBqeK8?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 1: Markdown</a></li>
    <li><a href="https://youtu.be/p0bwyeJalbU?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 2: Self-Destructing Messages</a></li>
    <li><a href="https://youtu.be/NplUl64SaYI?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 3: Side-Channel Attack</a></li>
    <li><a href="https://youtu.be/Qdh88P4146o?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 4: Cloud Storage</a></li>
    <li><a href="https://youtu.be/IyOm3zqmzb8?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 5: Cloud Storage cont'd</a></li>
    <li><a href="https://youtu.be/Q0LyBzAk2H0?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 6: Cloud Storage cont'd</a></li>
    <li><a href="https://youtu.be/j1YTnVwWUbQ?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 7: Cloud Storage cont'd</a></li>
    <li><a href="https://youtu.be/VFSf46iXrKg?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 8: Stocks</a></li>
    <li><a href="https://youtu.be/_R9kbU4rkvM?list=PLoHQKqvJrHgk65IGK4qxnl2eglT-o__oF">Part 9: Net HTML</a></li>
  </ol>
</div>
