<!DOCTYPE html>
<html>
  <head>
    <title>{{if .Title}}{{.Title}} | {{end}}Go Resources</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="stylesheet" href="{{public_link "golang-book.css"}}" type="text/css">
  </head>
  <body>
    <div class="outer-container">
    {{.Body}}
    </div>
    <script src="{{public_link "golang-book.js"}}"></script>
  </body>
</html>
