<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-3/day-2">Week 3, Day 2</a>
</div>
<div class="body container">
  <h1>Week 3, Day 2</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLoHQKqvJrHgk_bKCCbM5u_6-0YY5LAnfH" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/ztAfv9bmwu4?list=PLoHQKqvJrHgk_bKCCbM5u_6-0YY5LAnfH">Part 1: Twitter Clone: Templates</a></li>
    <li><a href="https://youtu.be/cESTXgfuI-8?list=PLoHQKqvJrHgk_bKCCbM5u_6-0YY5LAnfH">Part 2: Projection Queries</a></li>
    <li><a href="https://youtu.be/cESTXgfuI-8?list=PLoHQKqvJrHgk_bKCCbM5u_6-0YY5LAnfH">Part 3: App Engine Email</a></li>
    <li><a href="https://youtu.be/cESTXgfuI-8?list=PLoHQKqvJrHgk_bKCCbM5u_6-0YY5LAnfH">Part 4: App Engine Email cont'd</a></li>
    <li><a href="https://youtu.be/cESTXgfuI-8?list=PLoHQKqvJrHgk_bKCCbM5u_6-0YY5LAnfH">Part 5: Polling</a></li>
  </ol>
</div>
