<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-3/day-5">Week 3, Day 5</a>
</div>
<div class="body container">
  <h1>Week 3, Day 5</h1>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLoHQKqvJrHgllofOJpiaLdLLMKNoJrmYC" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/j1cyDGNL3JI?list=PLoHQKqvJrHgllofOJpiaLdLLMKNoJrmYC">Part 1: Search</a></li>
    <li><a href="https://youtu.be/HG_ONR-kfsU?list=PLoHQKqvJrHgllofOJpiaLdLLMKNoJrmYC">Part 2: Cloud Storage</a></li>
    <li><a href="https://youtu.be/Y4r0I1vv9H4?list=PLoHQKqvJrHgllofOJpiaLdLLMKNoJrmYC">Part 3: Cloud Storage cont'd</a></li>
    <li><a href="https://youtu.be/46JKcUEtwlk?list=PLoHQKqvJrHgllofOJpiaLdLLMKNoJrmYC">Part 4: Cloud Storage cont'd</a></li>
    <li><a href="https://youtu.be/vLCc-xnQljA?list=PLoHQKqvJrHgllofOJpiaLdLLMKNoJrmYC">Part 5: Cloud API</a></li>
    <li><a href="https://youtu.be/8aMDkoUq1h4?list=PLoHQKqvJrHgllofOJpiaLdLLMKNoJrmYC">Part 5: URL Fetch</a></li>
  </ol>
</div>
