<div class="breadcrumbs">
  <a href="/">Go Resources</a>
  / <a href="/guides/bootcamp">Bootcamp</a>
  / <a href="/guides/bootcamp/week-3/day-4">Week 3, Day 4</a>
</div>
<div class="body container">
  <h1>Week 3, Day 4</h1>


  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLoHQKqvJrHgnxKQmOpHrdWkU8-gpEtVug" frameborder="0" allowfullscreen></iframe>
  <ol>
    <li><a href="https://youtu.be/Wi0Al2cNI_U?list=PLoHQKqvJrHgnxKQmOpHrdWkU8-gpEtVug">Part 1: Long Polling</a></li>
    <li><a href="https://youtu.be/jZ721DqqBF0?list=PLoHQKqvJrHgnxKQmOpHrdWkU8-gpEtVug">Part 2: App Engine Channel</a></li>
    <li><a href="https://youtu.be/fSJia0rbAdU?list=PLoHQKqvJrHgnxKQmOpHrdWkU8-gpEtVug">Part 3: Chat</a></li>
    <li><a href="https://youtu.be/u_Jwz5_WlwA?list=PLoHQKqvJrHgnxKQmOpHrdWkU8-gpEtVug">Part 4: App Engine Chat</a></li>
    <li><a href="https://youtu.be/mANud6wclV0?list=PLoHQKqvJrHgnxKQmOpHrdWkU8-gpEtVug">Part 5: App Engine Search</a></li>
  </ol>
</div>
